<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Saisie d'un frais hors forfait">
  <ion-content class="padding">
    <div class="list">
      <form ng-submit="submit()">
          <ion-item class="item-icon-right" ng-click="selectDate()">
            <i  class="icon ion-ios-calendar-outline"></i>
            {{ data.date }}
          </ion-item>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Libelle</span>
          <input type="text" ng-model="data.libelle">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Montant en €</span>
          <input type="text" ng-model="data.montant">
        </label>
        <input type="submit" class="item button button-block button-balanced" value="Enregistrer">
      </form>
    </div>
    <ul>
      <li ng-repeat="value in status" ng-class="{success: value.success, error: value.error, alert: value.alert}">
        {{ value.success || value.error || value.alert }}
      </li>
    </ul>
  </ion-content>

</ion-view>
