<ion-view view-title="GSB - Vos frais">
  <ion-content>
    <ion-list>
      <div class="item item-divider">
        Frais forfaitisés
      </div>

      <a class="item item-icon-left" ui-sref="tab.frais-details({fraisId: key})" ng-repeat="(key, value) in texts.frais">
        <i class="icon {{value.icon}}"></i>
        {{value.header_text}}
      </a>

      <div class="item item-divider">
        Frais hors forfait
      </div>
      <a class="item item-icon-left" href="#/tab/fraishf/saisie">
        <i class="icon ion-document-text"></i>
        Saisie de frais hors forfait
      </a>

      <a class="item item-icon-left" href="#/tab/fraishf/liste">
        <i class="icon ion-ios-copy"></i>
        Liste des frais hors forfait
      </a>


    </ion-list>
  </ion-content>
</ion-view>
